<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <h1 class="mb-5">Listando link</h1>
   
    <a href="{% url 'index' %}">
        <button type="submit" class="mb-3 btn btn-info">Voltar ao menu</button>
    </a>
    <table border="1" class="table table-striped-columns">
        <thead>
            <tr>
                <th>Título</th>
                <th>Link</th>
                <th>Observação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody >
            {% for link in links %}
            <tr>
                <td>{{ link.titulo }}</td>
                <td>{{ link.link }}</td>
                <td>{{ link.observacao }}</td>
                <td>
                    <a href="{% url 'editar_link' link.id %}">
                        <button type="button" class="btn btn-warning mb-2">✏️ Editar</button>
                    </a>
                    <form action="{% url 'deletar_link' link.id %}" method='post'>
                        {% csrf_token %}
                        <button type="submit"class="btn btn-danger">❌ Deletar</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum link cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>